
<div class="nav-side-menu pull-left">

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/administrators" class="side-bar-menu-link" data-link-val="dashboard">
                    <i class="fa fa-dashboard fa-lg"></i>
                    Табло
                </a>
            </li>

            <li>
                <a href="/administrators/products" class="side-bar-menu-link" data-link-val="products">
                    <i class="fa fa-dashboard fa-lg"></i> 
                    Продукти
                </a>
            </li>
            
            <li>
                <a href="/administrators" class="side-bar-menu-link" data-link-val="users">
                    <i class="fa fa-dashboard fa-lg"></i> Потребители
                </a>
            </li>
        </ul>
    </div>
</div>
