
<div class="nav-side-menu pull-left">
    <div class="brand">Admin control panel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="Administrators#/">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products-list">
                <a>
                    <i class="fa fa-dashboard fa-lg"></i> Продукти
                </a>
            </li>
            <ul class="sub-menu collapse" id="products-list">
                <li>
                    <a href="#/pizzas">
                        Пици
                    </a>
                </li>
                <li>
                    <a href="#/pizzas/255">
                        Сандвичи
                    </a>
                </li>
                <li>
                    <a href="#">
                        Напитки
                    </a>
                </li>
                <li>
                    <a href="#">
                        Салати
                    </a>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#users-list">
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Потребители
                </a>
            </li>
            <ul class="sub-menu collapse" id="users-list">
                <li>
                    <a href="#">
                        Регистрирай
                    </a>
                </li>
                <li>
                    <a href="#">
                        Мнения
                    </a>
                </li>
                <li>
                    <a href="#">
                        Поръчки
                    </a>
                </li>
                <li>
                    <a href="#">
                        Търси
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</div>
