@using JPGPizza.Models
@model Product

@if (Model.Type == ProductType.Pizza)
{
    <div class="acp-product-img-container">
        <img class="img-responsive acp-product-img" src="@Model.Picture" alt="@Model.Name" />
    </div>
    <div class="acp-product-name">
        @Model.Name
    </div>
    <div class="acp-product-ingredients">
        @string.Join(", ", Model.Ingredients.Select(i => i.Name))
    </div>
    <div class="acp-product-actions">
        <a href="#" class="btn btn-default">Детайли</a>
        <a href="#" class="btn btn-default">Промени</a>
        <a href="#" class="btn btn-default">Изтрий</a>
    </div>
}
