@using JPGPizza.Models
@{
    ViewBag.Title = "Categories";
}

<!DOCTYPE html>

<html>
<head>
    <title>Categories</title>
</head>
<body>
    <div class="container" style="padding-top: 30px;">       
        <div class="row">
            <div class="col-sm-4 col-sm-push-1 acp-product-container grow">
                <a href='@Url.Action("List", "Products", new {category = ProductType.Pizza})'>
                    <img src='~/Content/Images/category-pizza.jpg' height="250" class="img-responsive" />
                    <br />
                    <p align="center" style="font-size: 150%; font-style: italic; font-family: Arial">Пици</p>
                </a>
            </div>

            <div class="col-sm-4 col-sm-push-1 acp-product-container grow">
                <a href='@Url.Action("List", "Products", new {category = ProductType.Drink})'>
                    <img src='~/Content/Images/category-drinks.jpg' height="250" class="img-responsive" />
                    <br />
                    <p align="center" style="font-size: 150%; font-style: italic; font-family: Arial">Напитки</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-push-1 acp-product-container grow">
                <a href='@Url.Action("List", "Products", new {category = ProductType.Sandwich})'>
                    <img src='~/Content/Images/category-sandwich.jpg' height="250" class="img-responsive" />
                    <br />
                    <p align="center" style="font-size: 150%; font-style: italic; font-family: Arial">Сандвичи</p>
                </a>
            </div>

            <div class="col-sm-4 col-sm-push-1 acp-product-container grow">
                <a href='@Url.Action("List", "Products", new {category = ProductType.Salad})'>
                    <img src='~/Content/Images/category-salad.jpg' height="250" class="img-responsive" />
                    <br />
                    <p align="center" style="font-size: 150%; font-style: italic; font-family: Arial">Салати</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>


