@using JPGPizza.Models
@{
    ViewBag.Title = "Categories";
}

<!DOCTYPE html>

<html>
<head>
    <title>Categories</title>
</head>
<body>
    <div class="container" style="padding-top: 30px;">

        <div class="col-sm-5 col-sm-push-1 acp-product-container grow">
            <a href='@Url.Action("List", "Products", new {category = ProductType.Pizza})'>
                <img src='https://i.ytimg.com/vi/Lyj8wH2iTYg/maxresdefault.jpg' height="500" width="500" class="img-responsive" />
                <br />
                <p align="center" style="font-size: 250%; font-style: italic; font-family: Arial">Пици</p>
            </a>
        </div>
        
        <div class="col-sm-5 col-sm-push-1 acp-product-container grow">
            <a href='@Url.Action("List", "Products", new {category = ProductType.Drink})'>
                <img src='http://il3.picdn.net/shutterstock/videos/6306023/thumb/1.jpg' height="500" width="500" class="img-responsive" />
                <br />
                <p align="center" style="font-size: 250%; font-style: italic; font-family: Arial">Напитки</p>
            </a>
        </div>
        
        <div class="col-sm-5 col-sm-push-1 acp-product-container grow">
            <a href='@Url.Action("List", "Products", new {category = ProductType.Sandwich})'>
                <img src='http://weknowyourdreams.com/images/sandwich/sandwich-07.jpg' height="500" width="500" class="img-responsive" />
                <br />
                <p align="center" style="font-size: 250%; font-style: italic; font-family: Arial">Сандвичи</p>
            </a>
        </div>
        
        <div class="col-sm-5 col-sm-push-1 acp-product-container grow">
            <a href='@Url.Action("List", "Products", new {category = ProductType.Salad})'>
                <img src='http://cooking.my.panasonic.com/wp-content/uploads/2016/06/salad.jpg' height="500" width="500" class="img-responsive" />
                <br />
                <p align="center" style="font-size: 250%; font-style: italic; font-family: Arial">Салати</p>
            </a>
        </div>


    </div>
</body>
</html>


