@model List<JPGPizza.Models.Product>

@{
    ViewBag.Title = "Products";
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.FirstOrDefault()?.Type</title>
</head>
<body>
    <div class="container">
        @foreach (var product in Model)
        {
            <div class="col-sm-3 col-sm-push-2 acp-product-container grow">
                @{Html.RenderPartial("_Product", product);}
            </div>
        }
    </div>
</body>
</html>