@using JPGPizza.MVC.ViewModels.Orders
@using JPGPizza.MVC.Utility
@model OrderProductsViewModel
@{
    ViewBag.Title = "CarryOut";
}

<h2>CarryOut</h2>
<ul class="nav nav-tabs">
    @foreach (var type in Model.Types)
    {


        <li><a data-toggle="tab" href="#@type">@type</a></li>


    }
</ul>

<div class="tab-content">
    <div id="Pizza" class="tab-pane fade in active">
        @foreach (var product in Model.Products.Where(p => p.Type == JPGPizza.Models.ProductType.Pizza))
        {
            <div class="col-sm-3 col-sm-push-1 acp-product-container grow">
                @{Html.RenderPartial("_Product", product);}
            </div>
            
        }
    </div>
    <div id="Drink" class="tab-pane fade">
        @foreach (var product in Model.Products.Where(p => p.Type == JPGPizza.Models.ProductType.Drink))
        {
            <div class="col-sm-3 col-sm-push-1 acp-product-container grow">
                @{Html.RenderPartial("_Product", product);}
            </div>
                    }
    </div>
    <div id="Salad" class="tab-pane fade">
        @foreach (var product in Model.Products.Where(p => p.Type == JPGPizza.Models.ProductType.Salad))
        {
            <div class="col-sm-3 col-sm-push-1 acp-product-container grow">
                @{Html.RenderPartial("_Product", product);}
            </div>
        }
    </div>
    <div id="Sandwich" class="tab-pane fade">
        @foreach (var product in Model.Products.Where(p => p.Type == JPGPizza.Models.ProductType.Sandwich))
        {
            <div class="col-sm-3 col-sm-push-1 acp-product-container grow">
                @{Html.RenderPartial("_Product", product);}
                
            </div>
                

         }
    </div>
</div>





@section Scripts {}
