@{
    ViewBag.Title = "За нас";
}

<div class="col-sm-10 about-us">
    <h2>@ViewBag.Title</h2>
    <br />

    <p>&nbsp;&nbsp;&nbsp;&nbsp;JPGPizza е производител и доставчик на пици с високо качество на продуктите, изключително богато меню и конкурентни цени в областта на бързото хранене.</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;През 2017г. JPGPizza се заражда като малък семеен бизнес в София в областта на бързото хранене.
        Мотивацията и усилията на самите собственици, които в началото работят в обекта са довели към днешна дата до създаването на сайт за доставка на пици до всяка точка на град София.
        Предприемаческият нюх, желанието за развитие, целенасочената ежедневна работа, съчетани с отличните качество и вкус на предлаганата храна, са ключови фактори по пътя към разрастване на бизнеса.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;JPGPizza се отличава с отлична организация на работата, отговорно отношение и коректност към клиента. Така съумява да изгради успешен и устойчив бизнес модел.
        След няколко години опит в производството на пица, компанията разширява асортимента на предлаганата храна, като изцяло го съобразява с търсенето на клиентите.
        Освен разнообразието от пици, които се предлагат в различни размери, JPGPizza предлага различни видове салати, сандвичи и напитки.
        Рецептите и комбинацията от продукти са изпитани във времето и могат да бъдат опитани само при нас.
        Това са и ключови фактори за разпознаваемостта на бранда и заслужено добрия имидж сред клиентите.
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Ако се нуждаете от още нещо, което да ви убеди, че именно JPGPizza предлага най - вкусните пици на пазара, то ние ще ви предложим пълно възстановяване на парите, ако пицата не ви е харесала!</p>

</div>
