@{
    ViewBag.Title = "За нас";
}

<div class="container home-page-container">

    <p><h3  style="text-align:center">Кои сме ние?</h3></p>
    <hr/>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-center" src="~/Content/Images/georgi.jpg" alt="Georgi">
        <h3>
            Георги Георгиев
        </h3>
        <p>Георги Ивайлов Георгиев е роден в град София. В периода 2011 - 2016 година изучава строително инженерство в Университета по строителство, архитектура и геодезия. Дипломира се ноември месец 2016 година. Преди да започне разработването на дипломната си работа, той решава да запише курсове по програмиране в Софтуерния университет. До настоящия момент той е завършил с пълно отличие следните курсове: Programming Basics, Technology Fundamentals, JS Core и  C# DB Fundamentals. По време на различните модули той разработва различни проекти, който могат да бъдат видяни тук: <a href="https://github.com/Obelq"> Линк към Github </a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-center" src="~/Content/Images/petio.jpg" alt="Petio">
        <h3>
            Петьо Василев
        </h3>
        <p>Роден в град София. От малък има увлечение към компютрите и се записва в СПГЕ Джон Атанасов. Там той разбира, че специалността му не е точно това, което очаква, но той не се отказва и продължава своето обучение в МГУ Св. Иван Рилски, където изучава автоматика и информационно управляваща техника. По време на обучението си разбира, че нещата не са така както очаква, НО това не го кара да се откаже. Малко по-късно записва академията Софтуни. По време на своето обучение намира време дори да се сгоди :). Успява да съчате полезното с приятното като започва работа като програмист, благодарение на наученото в Софтуни. The rest is history. <br /> <a href="https://github.com/petiorv"> Линк към Github </a> </p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-center" src="~/Content/Images/qni.jpg" alt="Batista">
        <h3>
            Янислав Асенов
            <small>животното</small>
        </h3>
        <p>Роден в София. Известен още като Животното. Той започва своята кариера като професионален хокеен играч, но разбира, че нивото му е много над останалите и за това решава да се занимава с компютърни мрежи. Малко по-късно записва ТУ и там все още програмират на лист хартия и това не му харесва. Почва курсове в Софтуни и до момента на всички преминати курсове има среден успех (малко ама кот такоа). На по-късен етап от живота си решава да запише Висше училище по телекомуникации и пощи. Там разбира че е малък бог по математика и неговата вяра в българското образование е възстановена. <br /> <a href="https://github.com/Yanislav-Asenov"> Линк към Github </a> </p>
    </div>    
</div>