@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1743.0536587695422!2d23.263532741964173!3d42.715256346478945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d42.7147961!2d23.263512199999997!5e0!3m2!1sbg!2sbg!4v1492601186348" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="col-sm-4 contacts-address">
    <address>
        Адрес:<br />
        гр. София, бул. Царица Йоана №49<br /><br />
        Телефон за поръчки:<br />
        <abbr title="Phone">0883602594</abbr>
    </address>

    <address>
        <strong>Помощ:</strong>   <a href="mailto:jpgpizza.support@gmail.com">jpgpizza.support@gmail.com</a><br />
        <strong>Поръчки:</strong> <a href="mailto:jpgpizza.orders@gmail.com">jpgpizza.orders@gmail.com</a>
    </address>
</div>
