body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #ebebeb;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

/* Set headings font size */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
    font-size: 13px;
}

.uppercase-black {
    text-transform: uppercase;
    font-weight: 900;
}

.form-control {
    border: 2px solid #eee;
}


.form-control:focus {
    border: 2px solid #d80a2b;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert {
    padding: 15px;
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 18px;
    border-top: 10px solid;
}

.alert-success {
    color: green;
    background-color: lightgreen;
    border-color: #23a723;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit;
}

/**********************
 *Bootstrap overrides *
 *********************/


/* 
    Navbar styles
*/

.navbar-inverse {
    border-color: #222222;
}

.navbar-inverse a {
    color: #fff;
}


/* Page level styles */

.action-no-decoration {
    text-decoration: none;
}

.btn {
    margin-top: 8px;
}

.add-to-cart-btn {
    width: 100%!important;
}

.shopping-cart {
    font-size: 22px;    
}

.product-detail-container{
    padding-top: 30px;
}

.quantity-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.quantity-value {
    font-size: 25px;
    padding: 10px;
    font-weight: 900;
    padding-bottom: 5px;
}

.product-order-price {
    font-size: 20px;
    font-weight: 900;
}

.pd-ingredients {
    color: #2e353d;
    font-size: 15px;
    font-weight: 700;
    text-transform: lowercase;
}

.quantity-text {
    font-size: 20px;
    font-weight: 700;
}