@using JPGPizza.MVC.ViewModels.Administrators
@using JPGPizza.MVC.Utility

@model AdministratorsProductsViewModel

<div class="container-fluid admin-panel-content-container" style="padding-top: 20px;">

    <div class="sidebar hidden-xs">
        @Html.Partial("_AdministratorsSidebar")
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-push-8">
            <form action="/" method="post">
                <input type="text" name="product-name" value="" placeholder="Търси..." class="form-control form-control-custom" />
                <button type="submit" class="btn btn-default">Търси</button>
            </form>
        </div>
    </div>
    <div class="row">
        @{ var productsByType = Model.Products.OrderBy(p => p.Type).GroupBy(p => p.Type); }
        <div class="col-sm-9 col-sm-push-2 acp-nav-tabs acp-nav-tabs-container">
            <ul class="nav nav-tabs acp-tabs">
                @{int rowCounter = 0; }
                @foreach (var kvp in productsByType)
                {
                    string tabClass = rowCounter == 0 ? "active" : "not-active";
                    <li class="@tabClass acp-tab-li">
                        <a href="#@kvp.Key" data-toggle="tab">@ProductTypeHelper.GetName(kvp.Key)</a>
                    </li>
                    rowCounter++;
                }
            </ul>
        </div>
    </div>
    <div class="row">
        @{rowCounter = 0; }
        <div class="tab-content">
            @foreach (var kvp in productsByType)
            {
                string tabClass = rowCounter == 0 ? "active" : "";
                int productCounter = 0;

                <div class="tab-pane @tabClass" id="@kvp.Key">
                    @foreach (var product in kvp)
                    {
                        <div class="col-sm-3 col-sm-push-2 acp-product-container">
                            @{Html.RenderPartial("_Product", product);}
                        </div>
                    }

                    @rowCounter++
                </div>

                rowCounter++;
            }
        </div>
    </div>
</div>
